*{
 margin: 0px;
 padding: 0px;
}
/********** .nav-bar ***********/
.nav-bar{
 z-index: 999;
}
.navbar h1{
 text-align: center;
}
.sidebar {
 position: fixed;
 right: -320px;
 width: 320px;
 height: 100%;
 z-index: 999;
 font-size: 25px;
 font-family: 'Source Sans Pro', sans-serif;
 background: #fff;
 transition: all .5s ease;
 text-align: center;
}
.sidebar header {
 font-size: 22px;
 color: white;
 text-align: center;
 background: #053825;
}
ul{
 margin-top: 100px;
 z-index: 999;
 list-style:  none;
}
.sidebar ul a{
 display: block;
 height: 100%;
 width: 60%;
 padding: 20px 0;
 font-size: 20px;
 text-decoration: none;
 color: #333;
 padding-left: 40px;
 box-sizing: border-box;
 transition: .4s;
}
ul li:hover a{
 padding-right: 50px;
}
.sidebar ul a i{
 margin-left: 16px;
}
#check{
 display: none;  
}
label #btn,label #cancel{
 position: fixed;
 z-index: 999;
 border-radius: 3px;
 cursor: pointer;  
}
label #btn{
 position: absolute;
 right: 40px;
 top: 25px;
 font-size: 35px;
 color: #fff;
 padding: 6px 12px;
 transition: all .5s;
}
label #cancel{
 z-index: 1111;
 right: -260px;
 top: 17px;
 font-size: 30px;
 color:#333;
 padding: 4px 9px;
 transition: all .5s ease;
}
#check:checked ~ .sidebar{
 right: 0;
}

#check:checked ~ label #btn{
 right: 250px;
 opacity: 0;
}
#check:checked ~ label #cancel{
 right: 260px;
}

/******** image ********/
#content01{
 display: flex;
 width:100%;
 height: 900px;
 margin-top: -100px;
 background-color:#333;
 /*box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%); */
}
.porfile01{
 width: 200px;
 height: 300px;
 background-image: url("../image/pic02.jpeg");
 background-size: 100% 100%;
 background-repeat: no-repeat;
 margin-left: 122px;
 margin-top: 300px;
 float: left;
}
.aboutMe01{
 width: 500px;
 height: 400px;
 margin: auto;
}
.name{
 width: 200px;
 height: 141px;
 margin: 155px 50px;
}
.name > h1{
 color: #fff;
 font-size: 35px;
 font-family: "apercu",sans-serif;
 float: left;
}
.about{
 font-size: 20px;
 color: black;
 margin-top: 20px;
 margin-left:-0px;
}
.aboutMe01 > h1{
 color:#fff;
}
.h1Tag01{
 font-size: 80px;
 color: #ffffff;
 font-family: 'Source Sans Pro', sans-serif;
 line-height: 1.5;
 width:500px;
 margin-top: -5px;
}
.paragraph02{
 font-size: 40px;
 color: #ffffff;
 font-family: 'Source Sans Pro', sans-serif;
 line-height: 1.5;
}

/*********** sectionFirst ***********/
.about01{
 font-family: Zefani,serif;
 margin-top: 100px;
 font-size: 80px;
 color: white;
 text-align: center;
 -webkit-text-stroke: 2px black;
}
.about01:hover{
 border-bottom: 3px;
 color: black;
}
.sectionFirst{
 border: 1px solid #333;
 width:100px;
 margin-top: -50px;
 margin-left: 47%;
 position: absolute;
 transform: rotate(90deg);
}
section{
 margin-top: 50px;
}
.content01{
 display: flex;
 width: 45%;
 height: 550px;
 margin: 0 auto;
 background-color: #ffff;
 box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}
.porfile{
 width: 100px;
 height: 100px;
 border-radius: 50%;
 margin-left: 50px;
 margin-top: 80px;
}
.aboutMe{
 margin-left: 50px;
 width: 300px;
 height: 200px;
 margin-top: 100px;
}
.aboutMe > h1{
 font-family: "apercu",sans-serif;
 color: black;
 font-size: 45px;
}
.aboutMe >h2{
 font-size: 35px;
 font-family: "apercu",sans-serif;
 margin-top: 30px;
}
.about{
 font-size: 18px;
 font-family: "apercu",sans-serif;
 margin-top: 20px;
 width: 500px;
 color: #fff;
 line-height: 170%;
}
.sectionFirst02{
 border: 1px solid #333;
 width:100px;
 margin-top: 650px;
 margin-left: 20%;
 position: absolute;
 transform: rotate(90deg);
}

/************ Assignment ************/
a{
 text-decoration: none;
 color:#333;
}
#container01{
 width:80%;
 font-family: "Source Sans Pro", Helvetica, sans-serif;
 margin:auto;
 padding:20px;
 box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
 overflow:auto;
 margin-top:100px;
}
.blocks{
 box-shadow: 0px 0px 5px #333;
 overflow: auto;
 width: 344px;
 height: 300px;
 float: left;
 margin: 10px;
}
.blocks > h2{
 text-align: center;
 padding: 20px;
}
.lean{
 font-family: Zefani,serif;
 margin-top: -100px;
 font-size: 80px;
 color: white;
 text-align: center;
 -webkit-text-stroke: 2px black;
}
.lean:hover{
 border-bottom: 3px;
 color: black;
}
.ProjectImg{
 width: 116px;
 height: 120px;
 transform: translate(100%, 8px);
 background-image: url("../image/zask.png");
 background-size: cover;
}
.ProjectImg01{
 width: 116px;
 height: 120px;
 transform: translate(100%, 8px);
 background-image: url("../image/flickr.jpeg");
 background-size: cover;
}
.ProjectImg02{
 width: 116px;
 height: 120px;
 transform: translate(100%, 8px);
 background-image: url("../image/cycling.jpeg");
 background-size: 100% 100%;
}
.ProjectImg03{
 width: 116px;
 height: 120px;
 transform: translate(100%, 8px);
 background-image: url("../image/zohocom.png");
 background-size: 100% 100%;
}
.ProjectImg04{
 width: 116px;
 height: 120px;
 transform: translate(100%, 8px);
 background-image: url("../image/cliq.png");
 background-size: cover;
}
.ProjectImg05{
 width: 116px;
 height: 120px;
 transform: translate(100%, 8px);
 background-image: url("../image/parallax.jpg");
 background-size: cover;
}
.ProjectImg06{
 width: 116px;
 height: 120px;
 transform: translate(100%, 8px);
 background-image: url("../image/timeLine.jpg");
 background-size: 100% 100%;
}
.ProjectImg07{
 width: 116px;
 height: 120px;
 transform: translate(100%, 8px);
 background-image: url("../image/fishmove.jpg");
 background-size: 100% 100%;
}
.ProjectImg08{
 width: 116px;
 height: 120px;
 transform: translate(100%, 8px);
 background-image: url("../image/mesmerizing.png");
 background-size: 100% 100%;
}
.ProjectImg09{
 width: 116px;
 height: 120px;
 transform: translate(100%, 8px);
 background-image: url("../image/manRun.png");
 background-size: 100% 100%;
}
.ProjectImg10{
 width: 116px;
 height: 120px;
 transform: translate(100%, 8px);
 background-image: url("../image/arrange.jpg");
 background-size: 100% 100%;
}
.ProjectImg11{
 width: 116px;
 height: 120px;
 transform: translate(100%, 8px);
 background-image: url("../image/calendar.jpg");
 background-size: 100% 100%;
}
.ProjectImg12{
 width: 116px;
 height: 120px;
 transform: translate(100%, 8px);
 background-image: url("../image/TikTokToe.png");
 background-size: 100% 100%;
}
.checkThis{
 width: 100px;
 height: 40px;
 transform: translate(125%, 45px);
 border: none;
 font-size: 16px;
 font-weight: 600;
 background-color: #d688e0d1;
 box-shadow: 0px 0px 5px #d688e0d1;
}

/************ skills *************/
#Myskills{
 width: 800px;
 height: 550px;
 margin: 0 auto;
 margin-top: 100px;
 box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}
.h1Skills{
 text-align: center;
 padding:50px;
 font-family: Zefani,serif;
 margin-top: 20px;
 font-size: 80px;
 color: white;
 -webkit-text-stroke: 2px black;
}
.h1Skills:hover{
 border-bottom: 3px;
 color: black;
}
.skills {
 padding:2px;
 color: #ddd;
 position:relative;
 width: 85%;
 background-color: #ddd;
 margin:10px;
 border-radius:2px;
 margin-left: 60px;
}
.color{
 display:inline-block;
 padding:2px;
 position:absolute;
 top:0;
 left:0;
 width:0px;
 transition:1s;
 text-align:right;
 border-radius:2px;
}
#Myskills .green{
 width: 90%;
 background-color: rgb(233, 166, 213);
}
#Myskills .blue{
 width: 60%;
 background-color: rgb(233, 166, 213);
}
#Myskills .red{
 width: 75%;
 background-color: rgb(233, 166, 213);
}
#Myskills .yellow{
 width: 55%;
 background-color: rgb(233, 166, 213);
}

/********** footer ***********/
.footer{
 width:300px;
 height:100px;
 margin-top: 100px;
 text-align:center;
 margin:auto;
}
#twitter{
 border: 3px soild black;
 width:50px;
 height:50px;
 font-size:40px;
 padding:20px;
 margin-top: 50px;
}
#facebook{
 font-size:40px;
 padding:20px;
 margin-top: 50px;
}
#instragram{
 font-size:40px;
 padding:20px;
 margin-top: 50px;
}
#twitter:hover{
 color:#12c9a8;
}
#facebook:hover{
 color:#12c9a8;
}
#instragram:hover{
 color:#12c9a8;
}
.para{
 font-size:20px;
 margin-bottom: 5%;
 margin-top:50px;
 text-align:center;
 color:rgba(54, 54, 54, 0.388);
}
.sed_msg:hover{
 filter: grayscale(10%);
}
.sed_msg{
 color:white;
 font-weight:bold;
}

/********* Ipad *********/
@media screen and (max-width: 768px){
 #content01 {
  width: 210%;
 }
 label #btn {
  left: 200%;
 }
 #Myskills {
  margin-left: 400px;
 }
 #container01 {
  width: 200%;
 }
 .lean {
  margin-left: 500px;
  width: 500px;
 }
 .about01 {
  width: 500px;
  margin-left: 500px;
 }
 .footer {
  margin-left: 600px;
 }
 #content01 {
  margin-left: 400px;
  width: 100%;
 }
}

/********* phone ********/
@media screen and (max-width:360px){
 #content01 {
  width: 384%;
 }
 label #btn {
  left: 350%;
 }
 .name > h1 {
  margin-left: -780px;
 }
 .h1Tag01 {
  font-size: 60px;
  margin-left: 25px;
 }
 .lean {
  margin-left: 500px;
  width: 500px;
 }
 #container01 {
  width: 380%;
 }
 #content01 {
  width: 800px;
 }
}
